<!DOCTYPE html>
<html>
  <head>

    <meta name="ad.size" content="width=<!--width-->,height=<!--height-->">
    <title><!--title--></title>

    <!--CDN-->
    <script type="text/javascript"  src="https://s0.2mdn.net/ads/studio/cached_libs/tweenmax_1.18.0_499ba64a23378545748ff12d372e59e9_min.js"></script>
    <link rel="stylesheet" href="app.css">
    <script type="text/javascript" src="app.js"></script>

  </head>
  <body>
    <div class="page">
      <div class="page__container">

      </div>
    </div>
  </body>
</html>
